body {
  font-family: 'Poppins', sans-serif;
}

main {
  margin: 10px;
  padding: 10px;
  margin-top: 9vh;
}

nav {
  padding-left: 20px;
  height: 8vh;
}

figure img {
  max-width: 75% !important;
}

a {
  text-decoration: none;
}

.pl-10 {
  padding-left: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.kotak {
  width: 30%;
}

.konten-gambar {
  width: 60%;
}

.konten-lain {
  width: 40%;
}

.video {
  width: 100%;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .kotak {
    width: 100%;
  }
  .konten-gambar, .konten-lain {
    width: 100%;
    margin: 0;
  }
}
