header {
    background-image: url(Images/Background_Web.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    opacity: 0.5;
}

#jumbotron {
    height: 85%;
}

.navbar {
    height: 15%;
}